<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head'); %>
</head>
<body>

<header>
  <%- include('../partials/_header'); %>
</header>

<main class="container">
      <h5 class="card-title">TinyURL for: <%- longUrl %></h5>
      <p class="card-text">
        Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
      </p>

      <h5 class="card-title">EDIT</h5>

        <form action="/url/<%- id %>/edit" method="post">
          <input type="text" value="<%- longUrl %>" name="newUrl" class="p-2 rounded-md">
          <input type="hidden" name="id" value="<%= id %>">
          <button class="btn btn-primary">Submit</button>
          </form>

</main>

<footer>
  <%- include('../partials/_footer'); %>
</footer>

</body>
</html>